.vscode/
AngryBrid_Study.sln
Assembly-CSharp.csproj

# Ignore Unity specific folders
Library/
Temp/
Obj/
Build/
Builds/
UserSettings/

# Ignore user-specific files
*.user
*.userprefs

# Ignore build output directories
*.apk
*.unitypackage

# Ignore logs
*.log